<h1>How to get here?</h1>
<h2>By Air</h2>
<p>
  Denver International Airport (DIA) is the nearest major airport and is located about an hour and 20 minutes drive south of Fort Collins.   If you would prefer shuttle service to Fort Collins instead of renting a car, we suggest <a href="http://www.greenrideco.com/">Greenride</a>, though be advised- public transportation in Fort Collins is limited.
</p>
<br />
<h2>By Auto</h2>
<p>
  Club Tico is located in City Park in Fort Collins, CO.
  <br />
  <br />
  <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=1599+City+Park+Drive,+Fort+Collins,+CO&amp;sll=40.584171,-105.104486&amp;hl=en&amp;ie=UTF8&amp;hq=&amp;hnear=1599+City+Park+Dr,+Fort+Collins,+Colorado+80521&amp;ll=40.584171,-105.104486&amp;spn=0.004107,0.007896&amp;t=m&amp;z=14&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?q=1599+City+Park+Drive,+Fort+Collins,+CO&amp;sll=40.584171,-105.104486&amp;hl=en&amp;ie=UTF8&amp;hq=&amp;hnear=1599+City+Park+Dr,+Fort+Collins,+Colorado+80521&amp;ll=40.584171,-105.104486&amp;spn=0.004107,0.007896&amp;t=m&amp;z=14&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
  <br />
  <br />
  There is ample parking along City Park Way.
</p>
<br />
<h2>By Sea</h2>
<p>
  Is she seaworthy?  Not so much.  Turns out Colorado is a landlocked state, so unless the polar ice caps melt by October 12th, you may want to make alternate plans.
</p>
<p>
  <img src="/images/boating.jpeg" alt="all aboard" />
</p>
