<h1>Registry</h1>
<img src="/images/car.jpg" alt="car" />
<br />
<br />
<ul>
  <li><a href="http://www.crateandbarrel.com/Gift-Registry/Guest/View-Registry.aspx?grid=4933844">Crate & Barrel</a></li>
  <li><a href="http://www.bedbathandbeyond.com/regGiftRegistry.asp?wrn=-1220052199&">Bed Bath & Beyond</a></li>
  <li><a href="http://www.amazon.com/gp/registry/registry.html?ie=UTF8&id=12B3SHZ0B32SO&type=wedding">Amazon</a></li>
</ul>