<h1>Where to stay?</h1>

<h2><a href="http://www.thearmstronghotel.com/">The Armstrong Hotel</a></h2>
<p>
  Located in downtown Fort Collins, The Armstrong Hotel is a one of a kind boutique hotel, within walking distance of numerous restaurants, bars, and shopping.
</p>
<br />
<h2><a href="http://www3.hilton.com/en/hotels/colorado/hilton-fort-collins-FNLCOHF/index.html">The Fort Collins Hilton</a></h2>
<p>
  The Fort Collins Hilton is located just south of campus and located a few miles from Club Tico.
</p>
<br />
<h2><a href="http://www.marriott.com/hotels/hotel-information/travel/ftcri-residence-inn-fort-collins/">Residence Inn Fort Collins</a></h2>
<p>
  Want lots of space for a larger group?  The Residence Inn Fort Collins is located in south Fort Collins and offers rooms which sleep up to 6 adults.
</p>