<h1>Where to stay?</h1>

<h2>The Armstrong Hotel</h2>
<a href="http://www.thearmstronghotel.com/">http://www.thearmstronghotel.com/</a>
<p>
  Located in downtown Fort Collins, The Armstrong Hotel is a one of a kind boutique hotel, within walking distance of numerous restaurants, bars, and shopping.
</p>
<br />
<h2>The Fort Collins Hilton</h2>
<a href="http://www3.hilton.com/en/hotels/colorado/hilton-fort-collins-FNLCOHF/index.html">http://www3.hilton.com/en/hotels/colorado/hilton-fort-collins-FNLCOHF/index.html</a>
<p>
  The Fort Collins Hilton is located just south of campus and located a few miles from Club Tico.
</p>
<br />
<h2>Residence Inn Fort Collins</h2>
<a href="http://www.marriott.com/hotels/hotel-information/travel/ftcri-residence-inn-fort-collins/">http://www.marriott.com/hotels/hotel-information/travel/ftcri-residence-inn-fort-collins/</a>
<p>
  Want lots of space for a larger group?  The Residence Inn Fort Collins is located in south Fort Collins and offers rooms which sleep up to 6 adults.
</p>